body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

#temporizador {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tempo {
    margin: 0 15px;
    font-size: 2em;
    text-align: center;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
