/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
  }
  
  /* Contêiner principal */
  .container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px auto;
  }
  
  /* Seção de busca no GitHub */
  .github-search {
    margin-bottom: 40px;
  }
  
  .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 70%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }
  
  li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  /* Estilos para o feed de postagens */
  .social-feed {
    padding-top: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
  }
  
  textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    height: 60px;
    resize: none;
  }
  
  .feed-item {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .feed-item-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .feed-item-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .feed-item-text {
    margin-bottom: 10px;
  }
  
  .feed-item-footer {
    display: flex;
    align-items: center;
  }
  
  .feed-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  button.like-btn {
    background-color: #ff4d4d;
    padding: 5px 15px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-left: auto;
  }
  
  button.like-btn:hover {
    background-color: #cc0000;
  }
  
  button.like-btn span {
    margin-left: 5px;
  }
   